In [1]:
import pandas as pd
import numpy as np
from sklearn import svm
from sklearn.model_selection import train_test_split, StratifiedShuffleSplit
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
yeastdata = pd.read_csv(r'/home/mucahit/Desktop/yeast.data',
                        encoding="ISO-8859-1" , 
                        header = None ,
                        delim_whitespace = True)

In [3]:
yeastdata.head()

            0     1     2     3     4    5    6     7     8    9
0  ADT1_YEAST  0.58  0.61  0.47  0.13  0.5  0.0  0.48  0.22  MIT
1  ADT2_YEAST  0.43  0.67  0.48  0.27  0.5  0.0  0.53  0.22  MIT
2  ADT3_YEAST  0.64  0.62  0.49  0.15  0.5  0.0  0.53  0.22  MIT
3  AAR2_YEAST  0.58  0.44  0.57  0.13  0.5  0.0  0.54  0.22  NUC
4  AATM_YEAST  0.42  0.44  0.48  0.54  0.5  0.0  0.48  0.22  MIT

In [4]:
X = yeastdata.drop([0,9], axis=1)

In [5]:
X.head()

      1     2     3     4    5    6     7     8
0  0.58  0.61  0.47  0.13  0.5  0.0  0.48  0.22
1  0.43  0.67  0.48  0.27  0.5  0.0  0.53  0.22
2  0.64  0.62  0.49  0.15  0.5  0.0  0.53  0.22
3  0.58  0.44  0.57  0.13  0.5  0.0  0.54  0.22
4  0.42  0.44  0.48  0.54  0.5  0.0  0.48  0.22

In [6]:
y = yeastdata[9]
print(y)

0       MIT
1       MIT
2       MIT
3       NUC
4       MIT
       ...
1479    ME2
1480    NUC
1481    ME2
1482    NUC
1483    CYT
Name: 9, Length: 1484, dtype: object

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size = 0.20)
print(y_train)

510     NUC
839     NUC
696     NUC
247     MIT
424     ME1
       ...
448     ME3
838     NUC
588     MIT
572     CYT
1347    CYT
Name: 9, Length: 1187, dtype: object

In [8]:
logreg = LogisticRegression(C=1e5, solver = 'liblinear' , multi_class = 'auto')

In [9]:
SVM = svm.SVC(gamma = 'scale')

In [10]:
logreg.fit(X_train, y_train)

LogisticRegression(C=100000.0, class_weight=None, dual=False,
                   fit_intercept=True, intercept_scaling=1, l1_ratio=None,
                   max_iter=100, multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='liblinear', tol=0.0001, verbose=0,
                   warm_start=False)

In [11]:
logregy_pred = logreg.predict(X_test)

In [12]:
accuracy_score(logregy_pred, y_test)

0.5757575757575758

In [13]:
SVM.fit(X_train , y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [14]:
SVMy_pred = SVM.predict(X_test)

In [15]:
accuracy_score(SVMy_pred, y_test)

0.6195286195286195