In [1]:
import pandas as pd
import numpy as np
from sklearn import svm
from sklearn.model_selection import train_test_split, StratifiedShuffleSplit
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
optdigitstrain = pd.read_csv(r'/home/mucahit/Desktop/optdigits.tra', 
                        header = None)

In [3]:
optdigitstrain.head()

,0,1,2,3,4,5,6,7,8,9,...,55,56,57,58,59,60,61,62,63,64
0,0,1,6,15,12,1,0,0,0,7,...,0,0,0,6,14,7,1,0,0,0
1,0,0,10,16,6,0,0,0,0,7,...,0,0,0,10,16,15,3,0,0,0
2,0,0,8,15,16,13,0,0,0,1,...,0,0,0,9,14,0,0,0,0,7
3,0,0,0,3,11,16,0,0,0,0,...,0,0,0,0,1,15,2,0,0,4
4,0,0,5,14,4,0,0,0,0,0,...,0,0,0,4,12,14,7,0,0,6

In [4]:
optdigitstest = pd.read_csv(r'/home/mucahit/Desktop/optdigits.tes',
                        header = None)

In [5]:
optdigitstest.head()

,0,1,2,3,4,5,6,7,8,9,...,55,56,57,58,59,60,61,62,63,64
0,0,0,5,13,9,1,0,0,0,0,...,0,0,0,6,13,10,0,0,0,0
1,0,0,0,12,13,5,0,0,0,0,...,0,0,0,0,11,16,10,0,0,1
2,0,0,0,4,15,12,0,0,0,0,...,0,0,0,0,3,11,16,9,0,2
3,0,0,7,15,13,1,0,0,0,8,...,0,0,0,7,13,13,9,0,0,3
4,0,0,0,1,11,0,0,0,0,0,...,0,0,0,0,2,16,4,0,0,4

In [6]:
X_train = optdigitstrain.drop(64, axis=1)
y_train = optdigitstrain[64]
X_test = optdigitstest.drop(64, axis=1)
y_test = optdigitstest[64]

In [7]:
for i in range(len(y_train)):
    if y_train[i] == 9:
        y_train[i] = 1
    else:
        y_train[i] = 0

for i in range(len(y_test)):
    if y_test[i] == 9:
        y_test[i] = 1
    else:
        y_test[i] = 0

In [8]:
SVM = svm.SVC(kernel="linear")
SVM.fit(X_train, y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
    kernel='linear', max_iter=-1, probability=False, random_state=None,
    shrinking=True, tol=0.001, verbose=False)

In [9]:
SVMy_pred = SVM.predict(X_test)

In [10]:
accuracy_score(SVMy_pred, y_test)

0.9777406789092933

In [11]:
print(confusion_matrix(SVMy_pred,y_test))

[[1599   22]
 [  18  158]]