In [1]:
import numpy as np
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, BaggingClassifier, AdaBoostClassifier, VotingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn import resample

In [2]:
df = pd.read_csv('/home/administrator/PycharmProjects/Uni/HW - 3/mnist_23/mnist_train23.csv')

In [3]:
df.head()

,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
0,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
df.describe()

,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
count,12089.000000,12089.0,12089.0,12089.0,12089.0,12089.0,12089.0,12089.0,12089.0,12089.0,...,12089.0,12089.0,12089.0,12089.0,12089.0,12089.0,12089.0,12089.0,12089.0,12089.0
mean,2.507155,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
std,0.499969,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
min,2.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25%,2.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50%,3.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
75%,3.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
max,3.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
df.shape

(12089, 785)

In [6]:
test = pd.read_csv('/home/administrator/PycharmProjects/Uni/HW - 3/mnist_23/mnist_test23.csv')

In [7]:
test.head()

,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
0,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
test.shape

(2042, 785)

In [9]:
test.describe()

,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
count,2042.000000,2042.0,2042.0,2042.0,2042.0,2042.0,2042.0,2042.0,2042.0,2042.0,...,2042.0,2042.0,2042.0,2042.0,2042.0,2042.0,2042.0,2042.0,2042.0,2042.0
mean,2.494613,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
std,0.500093,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
min,2.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25%,2.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50%,2.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
75%,3.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
max,3.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
xtr = df.iloc[:,1:]
ytr = df.iloc[:,0]

xtst = test.iloc[:,1:]
ytst = test.iloc[:,0]

In [11]:
rf = RandomForestClassifier(n_estimators=50,max_features=50,bootstrap= False)
rf.fit(xtr,ytr)

RandomForestClassifier(bootstrap=False, class_weight=None, criterion='gini',
                       max_depth=None, max_features=50, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=50,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [12]:
print("EÄŸitme KÃ¼mesi iÃ§in doÄŸruluk : " , round(rf.score(xtr,ytr),8))

EÄŸitme KÃ¼mesi iÃ§in doÄŸruluk :  1.0

In [13]:
print("Test KÃ¼mesi iÃ§in doÄŸruluk : " , round(rf.score(xtst,ytst),8))

Test KÃ¼mesi iÃ§in doÄŸruluk :  0.99265426

In [38]:
from sklearn.utils import resample
boot = resample(df, replace=True, n_samples=50, random_state=1)

In [39]:
print('Bootstrap Sample:', boot)

Bootstrap Sample:        label  1x1  1x2  1x3  1x4  1x5  1x6  1x7  1x8  1x9  ...  28x19  28x20  \
235        3    0    0    0    0    0    0    0    0    0  ...      0      0
5192       3    0    0    0    0    0    0    0    0    0  ...      0      0
905        3    0    0    0    0    0    0    0    0    0  ...      0      0
10955      3    0    0    0    0    0    0    0    0    0  ...      0      0
7813       3    0    0    0    0    0    0    0    0    0  ...      0      0
2895       2    0    0    0    0    0    0    0    0    0  ...      0      0
5056       2    0    0    0    0    0    0    0    0    0  ...      0      0
144        2    0    0    0    0    0    0    0    0    0  ...      0      0
4225       3    0    0    0    0    0    0    0    0    0  ...      0      0
7751       3    0    0    0    0    0    0    0    0    0  ...      0      0
10989      3    0    0    0    0    0    0    0    0    0  ...      0      0
3462       2    0    0    0    0    0    0    0    0    0  ...      0      0
9394       3    0    0    0    0    0    0    0    0    0  ...      0      0
5396       2    0    0    0    0    0    0    0    0    0  ...      0      0
5374       3    0    0    0    0    0    0    0    0    0  ...      0      0
2962       3    0    0    0    0    0    0    0    0    0  ...      0      0
2516       2    0    0    0    0    0    0    0    0    0  ...      0      0
8444       3    0    0    0    0    0    0    0    0    0  ...      0      0
3562       2    0    0    0    0    0    0    0    0    0  ...      0      0
4764       3    0    0    0    0    0    0    0    0    0  ...      0      0
8093       3    0    0    0    0    0    0    0    0    0  ...      0      0
6542       2    0    0    0    0    0    0    0    0    0  ...      0      0
562        2    0    0    0    0    0    0    0    0    0  ...      0      0
10820      2    0    0    0    0    0    0    0    0    0  ...      0      0
8151       3    0    0    0    0    0    0    0    0    0  ...      0      0
3049       3    0    0    0    0    0    0    0    0    0  ...      0      0
753        2    0    0    0    0    0    0    0    0    0  ...      0      0
9719       2    0    0    0    0    0    0    0    0    0  ...      0      0
11742      3    0    0    0    0    0    0    0    0    0  ...      0      0
1888       2    0    0    0    0    0    0    0    0    0  ...      0      0
1110       3    0    0    0    0    0    0    0    0    0  ...      0      0
6285       2    0    0    0    0    0    0    0    0    0  ...      0      0
6121       3    0    0    0    0    0    0    0    0    0  ...      0      0
1031       2    0    0    0    0    0    0    0    0    0  ...      0      0
4415       3    0    0    0    0    0    0    0    0    0  ...      0      0
2877       3    0    0    0    0    0    0    0    0    0  ...      0      0
3606       3    0    0    0    0    0    0    0    0    0  ...      0      0
9529       3    0    0    0    0    0    0    0    0    0  ...      0      0
2561       2    0    0    0    0    0    0    0    0    0  ...      0      0
8920       3    0    0    0    0    0    0    0    0    0  ...      0      0
6771       2    0    0    0    0    0    0    0    0    0  ...      0      0
431        3    0    0    0    0    0    0    0    0    0  ...      0      0
4074       2    0    0    0    0    0    0    0    0    0  ...      0      0
542        3    0    0    0    0    0    0    0    0    0  ...      0      0
9287       3    0    0    0    0    0    0    0    0    0  ...      0      0
1478       2    0    0    0    0    0    0    0    0    0  ...      0      0
11825      2    0    0    0    0    0    0    0    0    0  ...      0      0
1337       3    0    0    0    0    0    0    0    0    0  ...      0      0
7108       3    0    0    0    0    0    0    0    0    0  ...      0      0
11032      3    0    0    0    0    0    0    0    0    0  ...      0      0

       28x21  28x22  28x23  28x24  28x25  28x26  28x27  28x28
235        0      0      0      0      0      0      0      0
5192       0      0      0      0      0      0      0      0
905        0      0      0      0      0      0      0      0
10955      0      0      0      0      0      0      0      0
7813       0      0      0      0      0      0      0      0
2895       0      0      0      0      0      0      0      0
5056       0      0      0      0      0      0      0      0
144        0      0      0      0      0      0      0      0
4225       0      0      0      0      0      0      0      0
7751       0      0      0      0      0      0      0      0
10989      0      0      0      0      0      0      0      0
3462       0      0      0      0      0      0      0      0
9394       0      0      0      0      0      0      0      0
5396       0      0      0      0      0      0      0      0
5374       0      0      0      0      0      0      0      0
2962       0      0      0      0      0      0      0      0
2516       0      0      0      0      0      0      0      0
8444       0      0      0      0      0      0      0      0
3562       0      0      0      0      0      0      0      0
4764       0      0      0      0      0      0      0      0
8093       0      0      0      0      0      0      0      0
6542       0      0      0      0      0      0      0      0
562        0      0      0      0      0      0      0      0
10820      0      0      0      0      0      0      0      0
8151       0      0      0      0      0      0      0      0
3049       0      0      0      0      0      0      0      0
753        0      0      0      0      0      0      0      0
9719       0      0      0      0      0      0      0      0
11742      0      0      0      0      0      0      0      0
1888       0      0      0      0      0      0      0      0
1110       0      0      0      0      0      0      0      0
6285       0      0      0      0      0      0      0      0
6121       0      0      0      0      0      0      0      0
1031       0      0      0      0      0      0      0      0
4415       0      0      0      0      0      0      0      0
2877       0      0      0      0      0      0      0      0
3606       0      0      0      0      0      0      0      0
9529       0      0      0      0      0      0      0      0
2561       0      0      0      0      0      0      0      0
8920       0      0      0      0      0      0      0      0
6771       0      0      0      0      0      0      0      0
431        0      0      0      0      0      0      0      0
4074       0      0      0      0      0      0      0      0
542        0      0      0      0      0      0      0      0
9287       0      0      0      0      0      0      0      0
1478       0      0      0      0      0      0      0      0
11825      0      0      0      0      0      0      0      0
1337       0      0      0      0      0      0      0      0
7108       0      0      0      0      0      0      0      0
11032      0      0      0      0      0      0      0      0

[50 rows x 785 columns]

In [36]:
# out of bag observations
oob = [x for x in df if x not in boot]

In [37]:
print('OOB Sample' , oob)

OOB Sample []